body {
  font-family: 'Bebas Neue', cursive;
  font-size: 19px;
  line-height: 1;
}

/* GOOGLE FONT LIST */
/* font-family: 'Adamina', serif;
font-family: 'Antic Slab', serif;
font-family: 'Bebas Neue', cursive; */

.display-3 {
  font-family: 'Adamina', serif;
}

.lead {
  font-family: 'Antic Slab', serif;
}

.schedule-header {
  width: 75%;
}

.time-header {
  width: 15%;
}

.button-header {
  width: 10%;
}

.jumbotron {
  text-align: center;
  background-color: #d1ebfb;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

